Repository aws-observability/aws-otel-test-framework, pull requests merged in 2021-04, with the labels that each got.

#261 Add Jaeger and Zipkin integration test
  load-generator/Dockerfile
  load-generator/README.md
  load-generator/build.gradle
  load-generator/entrypoint.sh
  load-generator/src/main/java/com/amazon/opentelemetry/load/generator/emitter/EmitterFactory.java
  load-generator/src/main/java/com/amazon/opentelemetry/load/generator/emitter/JaegerTraceEmitter.java
  load-generator/src/main/java/com/amazon/opentelemetry/load/generator/emitter/ZipkinTraceEmitter.java
  load-generator/src/main/java/com/amazon/opentelemetry/load/generator/util/Constants.java
  sample-apps/jaeger-zipkin-sample-app/Dockerfile
  sample-apps/jaeger-zipkin-sample-app/build.gradle
  sample-apps/jaeger-zipkin-sample-app/src/main/java/com/amazon/sampleapp/App.java
  settings.gradle
  terraform/basic_components/main.tf
  terraform/common/outputs.tf
  terraform/ec2/main.tf
  terraform/ecs/main.tf
  terraform/eks/main.tf
  terraform/mock/main.tf
  terraform/templates/defaults/docker_compose.tpl
  terraform/templates/defaults/ecs_taskdef.tpl
  terraform/templates/defaults/soaking_docker_compose.tpl
  terraform/templates/local/docker_compose.tpl
  terraform/templates/local/docker_compose_from_source.tpl
  terraform/testcases/jaeger_mock/otconfig.tpl
  terraform/testcases/jaeger_mock/parameters.tfvars
  terraform/testcases/xrayreceiver/parameters.tfvars
  terraform/testcases/xrayreceiver_mock/parameters.tfvars
  terraform/testcases/zipkin_mock/otconfig.tpl
  terraform/testcases/zipkin_mock/parameters.tfvars
  trace-java-client/README.md
  trace-java-client/build.gradle
  trace-java-client/src/main/java/com/amazon/opentelemetry/trace/client/JaegerTraceEmitClient.java
  trace-java-client/src/main/java/com/amazon/opentelemetry/trace/client/TraceClient.java
  trace-java-client/src/main/java/com/amazon/opentelemetry/trace/client/ZipkinTraceEmitClient.java
  trace-java-client/src/main/java/com/amazon/opentelemetry/trace/model/topology/LoadGeneratorParams.java
  trace-java-client/src/main/java/com/amazon/opentelemetry/trace/model/topology/OperationModel.java
  trace-java-client/src/main/java/com/amazon/opentelemetry/trace/model/topology/ServiceRoute.java
  trace-java-client/src/main/java/com/amazon/opentelemetry/trace/model/topology/ServiceTier.java
  trace-java-client/src/main/java/com/amazon/opentelemetry/trace/model/topology/TagGenerator.java
  trace-java-client/src/main/java/com/amazon/opentelemetry/trace/model/topology/TagNameGenerator.java
  trace-java-client/src/main/java/com/amazon/opentelemetry/trace/model/topology/TagSet.java
  trace-java-client/src/main/java/com/amazon/opentelemetry/trace/model/topology/Topology.java
  trace-java-client/src/main/java/com/amazon/opentelemetry/trace/model/trace/KeyValue.java
  trace-java-client/src/main/java/com/amazon/opentelemetry/trace/model/trace/Reference.java
  trace-java-client/src/main/java/com/amazon/opentelemetry/trace/model/trace/Service.java
  trace-java-client/src/main/java/com/amazon/opentelemetry/trace/model/trace/Span.java
  trace-java-client/src/main/java/com/amazon/opentelemetry/trace/model/trace/Trace.java
  trace-java-client/src/main/java/com/amazon/opentelemetry/trace/utils/OpenTracingTraceConverter.java
  trace-java-client/src/main/java/com/amazon/opentelemetry/trace/utils/SpanConventions.java
  trace-java-client/src/main/java/com/amazon/opentelemetry/trace/utils/TraceGenerator.java
  trace-java-client/src/main/java/com/amazon/opentelemetry/trace/utils/TraceTraversal.java
  trace-java-client/src/main/resources/adjectives.txt
  trace-java-client/src/main/resources/natures.txt
  trace-java-client/src/main/resources/pokemon.txt
  trace-java-client/src/main/resources/sample_trace.json
  trace-java-client/src/test/java/com/amazon/opentelemetry/test/Test.java
  validator/src/main/resources/validations/jaeger-mocked-server-validation.yml
  validator/src/main/resources/validations/zipkin-mocked-server-validation.yml
Labels: receiver/trace

#264 Add SSM package test for ADOT Collector in ec2 test
  terraform/ec2/amis.tf
  terraform/ec2/main.tf
  terraform/ec2/variables.tf
  terraform/templates/local/ssm-install-aoc.sh
  terraform/testcases/ssm_package/parameters.tfvars
Labels: terraform

#269 patch: Use aotutil for check patch and wait report
  terraform/common.tf
  terraform/ec2/amis.tf
  terraform/ec2/main.tf
Labels: aotutil

#290 tf: Fix ignore error flag position for ec2 patch report
  terraform/ec2/main.tf
Labels: aotutil
